{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block content %}

<section class="pb-4">
	<div class="bg-white border rounded-5">
	  
	  <section class="w-100 p-4 d-flex justify-content-center pb-4">

			<p>You are about to fund your wallet with {{ payment.amount }} and transaction reference {{ payment.ref }}</p>
			

			<button onclick="payWithPaystack()" class="btn btn-primary btn-block mb-4">Fund</button>
		</section>
       
    </div>
    
    
  </div>
</section>


<script>
	function payWithPaystack() {
		let currency = "NGN";
		let plan = "";
		let ref = "{{ payment.ref }}";
		let amount = "{{ payment.amount }}";
		let obj = {
			key: "{{ paystack_pub_key }}",
			email: "{{ payment.email }}",
			amount: "{{ amount_value }}",
			ref: ref,
			callback: function (response) {
				window.location.href = "{% url 'verify_payment' payment.ref %}";
			},
		};
		if (Boolean(currency)) {
			obj.currency = currency.toUpperCase();
		}
		if (Boolean(plan)) {
			obj.plan - plan;
		}

		var handler = PaystackPop.setup(obj);
		handler.openIframe();
	}
</script>
{% endblock %}
